@model IEnumerable<FishStore.Entities.Products.Bait>
@{
    Layout = "_AdminLayout";
}

<h2>Наживка</h2>
<a class="text-primary" asp-controller="Admin" asp-action="AddBait">Добавить наживку</a>
<form method="get" asp-action="Bait" asp-controller="Admin">
    <input placeholder="Червь" type="text" name="searchText"/>
    <button type="submit" class="btn btn-primary">Поиск</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Наименование</th>
            <th scope="col">Тип наживки</th>
            <th scope="col">Вес</th>
            <th scope="col">Цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var type in Model){
            <tr>
                <th scope="row">@type.ID</th>
                <td>@type.Name</td>
                <td>@type.TypeOfBait.Name</td>
                <td>@type.Weight</td>
                <td>@type.Cost р.</td>
                <td>
                    @Html.ActionLink("Изменить", "EditBait", new {id = type.ID }) |
                    @Html.ActionLink("Удалить", "DeleteBait", new {id = type.ID })
                </td>
            </tr>
        }
    </tbody>
</table>